<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/register/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resources/scripts/axure/globals.js"></script>
    <script src="/static/resources/scripts/axutils.js"></script>
    <script src="/static/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resources/scripts/axure/doc.js"></script>
    <script src="/static/resources/scripts/messagecenter.js"></script>
    <script src="/static/resources/scripts/axure/events.js"></script>
    <script src="/static/resources/scripts/axure/recording.js"></script>
    <script src="/static/resources/scripts/axure/action.js"></script>
    <script src="/static/resources/scripts/axure/expr.js"></script>
    <script src="/static/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resources/scripts/axure/model.js"></script>
    <script src="/static/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resources/scripts/axure/sto.js"></script>
    <script src="/static/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resources/scripts/axure/variables.js"></script>
    <script src="/static/resources/scripts/axure/drag.js"></script>
    <script src="/static/resources/scripts/axure/move.js"></script>
    <script src="/static/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resources/scripts/axure/style.js"></script>
    <script src="/static/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resources/scripts/axure/tree.js"></script>
    <script src="/static/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resources/scripts/axure/math.js"></script>
    <script src="/static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/data/document.js"></script>
    <script src="/static/files/register/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u0" class="ax_default box_1">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <form class='register' action='../registerResult/' method="post">
        <!-- username (Group) -->
        <div id="u1" class="ax_default" data-label="username" data-left="108" data-top="92" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u2" class="ax_default box_1" data-label="边框">
                <div id="u2_div" class=""></div>
                <div id="u2_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u3" class="ax_default box_1" data-label="输入框">
                <div id="u3_div" class=""></div>
                <input id="u3_input" name="username" type="email" required="true" value="" class="u3_input" maxlength="20"/>
            </div>
        </div>

        <!-- password (Group) -->
        <div id="u4" class="ax_default" data-label="password" data-left="108" data-top="152" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u5" class="ax_default box_1" data-label="边框">
                <div id="u5_div" class=""></div>
                <div id="u5_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u6" class="ax_default box_1" data-label="输入框">
                <div id="u6_div" class=""></div>
                <input id="u6_input" name="password" type="password" value="" class="u6_input" maxlength="20"/>
            </div>
        </div>

        <!-- confirm password (Group) -->
        <div id="u7" class="ax_default" data-label="confirm password" data-left="108" data-top="212" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u8" class="ax_default box_1" data-label="边框">
                <div id="u8_div" class=""></div>
                <div id="u8_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u9" class="ax_default box_1" data-label="输入框">
                <div id="u9_div" class=""></div>
                <input id="u9_input" name="confirmpassword" type="password" required="true" value="" class="u9_input" maxlength="20"/>
            </div>
        </div>

        <!-- position (Group) -->
        <div id="u18" class="ax_default" data-label="position" data-left="108" data-top="452" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u19" class="ax_default box_1" data-label="边框">
                <div id="u19_div" class=""></div>
                <div id="u19_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u20" class="ax_default box_1" data-label="输入框">
                <div id="u20_div" class=""></div>
                <input id="u20_input" name="position" type="text" value="" required="true" class="u20_input" maxlength="20"/>
            </div>
        </div>

        <!-- company (Group) -->
        <div id="u21" class="ax_default" data-label="company" data-left="108" data-top="392" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u22" class="ax_default box_1" data-label="边框">
                <div id="u22_div" class=""></div>
                <div id="u22_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u23" class="ax_default box_1" data-label="输入框">
                <div id="u23_div" class=""></div>
                <input id="u23_input" name="company" type="text" value="" required="true" class="u23_input" maxlength="20"/>
            </div>
        </div>

        <!-- sex (Droplist) -->
        <div id="u25" class="ax_default droplist" data-label="sex">
            <div id="u25_div" class=""></div>
            <select id="u25_input" name="sex" class="u25_input">
                <option class="u25_input_option" value="男">男</option>
                <option class="u25_input_option" value="女">女</option>
            </select>
        </div>

        <!-- region (Droplist) -->
        <div id="u27" class="ax_default droplist" data-label="region">
            <div id="u27_div" class=""></div>
            <select id="u27_input" class="u27_input" name="region">
                <option class="u27_input_option" value="中国">中国</option>
                <option class="u27_input_option" value="美国">美国</option>
                <option class="u27_input_option" value="日本">日本</option>
                <option class="u27_input_option" value="印度">印度</option>
                <option class="u27_input_option" value="其他">其他</option>
            </select>
        </div>

        <!-- research (Group) -->
        <div id="u29" class="ax_default" data-label="research" data-left="108" data-top="572" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u30" class="ax_default box_1" data-label="边框">
                <div id="u30_div" class=""></div>
                <div id="u30_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u31" class="ax_default box_1" data-label="输入框">
                <div id="u31_div" class=""></div>
                <input id="u31_input" name="research" type="text" required="true" value="" class="u31_input" maxlength="20"/>
            </div>
        </div>

        <!-- introduction (Text Area) -->
        <div id="u32" class="ax_default text_area" data-label="introduction">
            <div id="u32_div" class=""></div>
            <textarea id="u32_input" name="introduction" class="u32_input"></textarea>
        </div>

        <!-- name (Group) -->
        <div id="u33" class="ax_default" data-label="name" data-left="108" data-top="272" data-width="320"
             data-height="40">

            <!-- 边框 (Rectangle) -->
            <div id="u34" class="ax_default box_1" data-label="边框">
                <div id="u34_div" class=""></div>
                <div id="u34_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 输入框 (Text Field) -->
            <div id="u35" class="ax_default box_1" data-label="输入框">
                <div id="u35_div" class=""></div>
                <input id="u35_input" name="name" value="" class="u35_input" maxlength="20"/>
            </div>
        </div>

        <!-- 确认注册按钮 (Rectangle) -->
        <div id="u10" class="ax_default box_1">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
                <input class="btn btn-primary" type="submit" value="确认注册" style="border:none;background:none;cursor:pointer;color:#FFFFFF;font-size:18px;"></input>
            </div>
        </div>
    </form>

    <!-- 侧图 (SVG) -->
    <div id="u11" class="ax_default box_1">
        <img id="u11_img" class="img " src="/static/images/register/u11.svg"/>
        <div id="u11_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 邮箱text (Rectangle) -->
    <div id="u12" class="ax_default heading_3">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">邮箱</span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#555555;"> </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;"> </span>
            </p>
        </div>
    </div>

    <!-- 密码text (Rectangle) -->
    <div id="u13" class="ax_default heading_3">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">密码</span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;"> </span>
            </p>
        </div>
    </div>

    <!-- 确认密码text (Rectangle) -->
    <div id="u14" class="ax_default heading_3">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">确认密码</span>
            </p>
        </div>
    </div>

    <!-- 性别text (Rectangle) -->
    <div id="u15" class="ax_default heading_3">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">性别</span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;"> </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;"> </span>
            </p>
        </div>
    </div>

    <!-- 立即登录按钮 (Rectangle) -->
    <div id="u16" class="ax_default box_1">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
            <p style="font-size:14px;"><span style="font-size:12px;color:#666666;">已有账号？&nbsp; </span><a id="u17" class="link" href="http://127.0.0.1:8090/"><span style="font-size:12px;color:#00C1DE;">立即登录</span></a><span style="color:#666666;"> </span></p>
        </div>
    </div>

    <!-- 所在单位text (Rectangle) -->
    <div id="u24" class="ax_default heading_3">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">所在单位</span>
            </p>
        </div>
    </div>

    <!-- 职务text (Rectangle) -->
    <div id="u26" class="ax_default heading_3">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">职务</span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;"> </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;"> </span>
            </p>
        </div>
    </div>

    <!-- 地区text (Rectangle) -->
    <div id="u28" class="ax_default heading_3">
        <div id="u28_div" class=""></div>
        <div id="u28_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">地区</span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;"> </span>
            </p>
        </div>
    </div>

    <!-- 昵称text (Rectangle) -->
    <div id="u36" class="ax_default heading_3">
        <div id="u36_div" class=""></div>
        <div id="u36_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp;</span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">昵称</span>
            </p>
        </div>
    </div>

    <!-- 研究方向text (Rectangle) -->
    <div id="u37" class="ax_default heading_3">
        <div id="u37_div" class=""></div>
        <div id="u37_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp; </span><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;color:#BE2C2C;">* </span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">研究方向</span>
            </p>
        </div>
    </div>

    <!-- 个人简介text (Rectangle) -->
    <div id="u38" class="ax_default heading_3">
        <div id="u38_div" class=""></div>
        <div id="u38_text" class="text ">
            <p style="font-size:14px;"><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;font-size:18px;">&nbsp;</span><span
                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;color:#555555;">个人简介</span>
            </p>
        </div>
    </div>

    <!-- title (Rectangle) -->
    <div id="u39" class="ax_default heading_2">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
            <p><span>Easycmt 账户注册</span></p>
        </div>
    </div>
</div>
<script src="/static/resources/scripts/axure/ios.js"></script>
</body>
</html>
